# Frontend storage secret.
APP_STORAGE_SECRET=<your-unique-app-storage-secret>

# Frontend log level
LOG_LEVEL="DEBUG" # Change this to ERROR for prod. environments

# Backend master key.
API_MASTER_KEY=<backend-api-master-key>

# Backend host
BACKEND_HOST="stamps-backend"

#Frontend mock login
MOCK_LOGIN_ENABLED="false"
MOCK_LOGIN_USER=<mock-login-user>
MOCK_LOGIN_PASSWORD=<mock-login-password>

# Frontend default language
DEFAULT_LANGUAGE="es"
