# Default log level and log name
LOG_LEVEL=DEBUG
LOG_FILE_NAME=backend.log

# API KEY
X_API_KEY=<your api key goes here>
X_API_USER=<your api key name goes here>
AUTH_TOKEN=<your auth token name. The same for all requests>

# API endpoints
COLORS_ENDPOINT=colors/
CONFIG_ENDPOINT=config/
COUNTRIES_ENDPOINT=countries/
ISSUES_ENDPOINT=issues/
LOCATIONS_ENDPOINT=locations/
PAPER_TYPES_ENDPOINT=paper_types/
STAMP_TYPES_ENDPOINT=stamps_type/
STAMPS_ENDPOINT=stamps/
YEARS_ENDPOINT=years/
COLLECTIONS_ENDPOINT=collections/
COLLECTION_ITEMS_ENDPOINT=collection_items/

SWAGGER_ENDPOINT=swagger/
REDOC_ENDPOINT=redoc/
SCHEMA_ENDPOINT=schema/



# URLs
ADMIN_URL=admin/
SERVER_URL_V1=stamps_server/api/v1/

COLORS_URL_V1=${SERVER_URL_V1}${COLORS_ENDPOINT}
CONFIG_URL_V1=${SERVER_URL_V1}${CONFIG_ENDPOINT}
COUNTRIES_URL_V1=${SERVER_URL_V1}${COUNTRIES_ENDPOINT}
ISSUES_URL_V1=${SERVER_URL_V1}${ISSUES_ENDPOINT}
LOCATIONS_URL_V1=${SERVER_URL_V1}${LOCATIONS_ENDPOINT}
PAPER_TYPES_URL_V1=${SERVER_URL_V1}${PAPER_TYPES_ENDPOINT}
STAMP_TYPES_URL_V1=${SERVER_URL_V1}${STAMP_TYPES_ENDPOINT}
STAMPS_URL_V1=${SERVER_URL_V1}${STAMPS_ENDPOINT}
YEARS_URL_V1=${SERVER_URL_V1}${YEARS_ENDPOINT}
COLLECTIONS_URL_V1=${SERVER_URL_V1}${COLLECTIONS_ENDPOINT}
COLLECTION_ITEMS_URL_V1=${SERVER_URL_V1}${COLLECTION_ITEMS_ENDPOINT}