[run]
# This tells coverage which files to ignore
omit =
    **/_backend/*
    **/__init__.py
    **/test/*
    **/management/*
    **/resources/*
    **/manage.py

[report]
# This makes the output cleaner by hiding files with 100% coverage
# and showing which lines are actually missing.
show_missing = True
skip_covered = False