# Master API KEY. Grants access to all tables in database
X_API_MASTER_KEY=<your-api-master-key>

# Database configuration
POSTGRES_DB=<database-name>
POSTGRES_USER=<database-user>
POSTGRES_PASSWORD=<database-password>
POSTGRES_HOST=<database-host-or-ip-or-container-name>
POSTGRES_PORT=<database-port>

# Django setup
LOG_LEVEL="DEBUG" # Change this to ERROR in prod. environment
DJANGO_DEBUG=False
SECRET_KEY=<your-secret-key>
ALLOWED_HOSTS = "stamps-backend, localhost"
DEBUG=True

# Gemini API Key
GEMINI_API_KEY=<your-gemini-api-key>
GEMINI_MODEL_NAME=<your-gemini-model-name>

# Groq API Key
GROQ_API_KEY=<your-groq-api-key>
GROQ_MODEL_NAME=<your-groq-model-name>

# SERPER API Key
SERPER_API_KEY=<your-serper-api-key>
SERPER_URL=<serper-url>

# LLM Provider Selection
LLM_PROVIDER=<your-llm-provider-choice> # Options: "gemini", "groq"

