asgiref==3.10.0
attrs==25.4.0
cffi==2.0.0
colorlog==6.10.1
cryptography==46.0.3
Django==5.2.8
djangorestframework==3.16.1
djangorestframework-api-key==3.1.0
dotenv==0.9.9
drf-spectacular==0.29.0
gitdb==4.0.12
GitPython==3.1.41
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
packaging==25.0
pillow==12.0.0
pycparser==2.23
PyJWT==2.10.1
pytest==9.0.1
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock==3.15.1
python-dotenv==1.2.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
setuptools==75.6.0
smmap==5.0.2
sqlparse==0.5.3
typing_extensions==4.15.0
uritemplate==4.2.0
