[run]
# This tells coverage which files to ignore
omit =
    **/__init__.py
    **/assets/*
    **/tests/*

[report]
# This makes the output cleaner by hiding files with 100% coverage
# and showing which lines are actually missing.
show_missing = True
skip_covered = False